
<div class="app-content content container-fluid">
<div class="content-wrapper">
   <div class="content-header row">
   </div>
   <div class="content-body">
      <section class="flexbox-container">
         <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
               <div class="card-header no-border">
                  <div class="card-title text-xs-center">
                     <h1 class="">Survey</h1>
                  </div>
                  <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Register with Survey</span></h6>
               </div>
               <div class="card-body collapse in">
               <% if user.errors.any? %>
                  <div style="color: red">
                    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                    <ul>
                      <% user.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                  <div class="card-block">
                  <%= form_with(model: user) do |form| %>
                     <input type="hidden" class="form-control form-control form-control-lg input-lg" name="user[role]" value="user">
                        <fieldset class="form-group position-relative has-icon-left mb-0">
                           <%= form.text_field :email, class: 'form-control form-control form-control-lg input-lg', placeholder: 'Your Email' %>
                           <div class="form-control-position">
                              <i class="icon-head"></i>
                           </div>
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            <%= form.password_field :password, class: 'form-control form-control form-control-lg input-lg' , placeholder: 'Enter Password' %>
                           <div class="form-control-position">
                              <i class="icon-key3"></i>
                           </div>
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            <%= form.password_field :password_confirmation, class: 'form-control form-control form-control-lg input-lg' , placeholder: 'Enter Confirm Password' %>
                           <div class="form-control-position">
                              <i class="icon-key3"></i>
                           </div>
                        </fieldset>
                        <%= form.submit "Register", class: "btn btn-primary btn-lg btn-block" %>


                        <% end %>

                        <div class="card-footer">
                          <div class="">
                            <p class="text-center m-0">Already Member? <%= link_to "Login", :login%></p>
                          </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
</div>